:root {
	--yellow: #FFED00;
}
/*global*/
 	html {
 		scroll-behavior: smooth;
 		background: #000
 	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;

	}
	body {
		font-family: 'PfDinCindPro', sans-serif;
		color: #fff;
		transition: 1s;
		// height: 150vh;
	}
	button {
		cursor: pointer;
	}
	button, input, textarea {
		color: inherit;
		transition: 0.5s;
	}
	h1,h2,h3,h4,h5,h6,p {
		font-size: inherit;
	}
	a {
		transition: 0.5s;
		text-decoration: none;
	} 
	a:visited, a:focus {
		color: inherit;
	}
	address {
		font-style: normal;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	}
	input[type='number'] {
	    -moz-appearance: textfield;
	}
	.center {
		padding-left: calc(50vw - 595px);
		padding-right: calc(50vw - 595px);
	}
	.visually_hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
	img,svg {
		display: block;
		max-width: 100%;
	}
/*global*/

@media screen and (max-width: 1200px) {
	.center {
		padding-left: calc(50vw - 360px);
		padding-right: calc(50vw - 360px);
	}
}

@media screen and (max-width: 768px) {
	.center {
		padding-left: calc(50vw - 250px);
		padding-right: calc(50vw - 250px);
	}
}
@media screen and (max-width: 515px) {
	.center {
		padding-left: calc(50vw - 185px);
		padding-right: calc(50vw - 185px);
	}
	.wrapper {
		height: unset !important;
	}
}

@media screen and (max-width: 400px) {
	.center {
		padding-left: calc(50vw - 170px);
		padding-right: calc(50vw - 170px);
	}
}

@media screen and (max-width: 355px) {
	.center {
		padding-left: calc(50vw - 150px);
		padding-right: calc(50vw - 150px);
	}
}