// toShop
	.toShop {
		background-position: top center;
		background-repeat:no-repeat;
		background-size: auto 100%;
		background-blend-mode: darken;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-top: 250px;
		padding-bottom: 100px;
		h2 {
			font-weight: 300;
			font-size: 48px;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 230px;	
		}
	}

	@media screen and (max-width: 1550px) {
		.toShop {
			padding-top: 180px;
			padding-bottom: 50px;
			h2 {
				margin-bottom: 150px;
			}
		}
	}
	@media screen and (max-width: 768px) {
		.toShop {
			padding-top: 50px;
			padding-bottom: 50px;
			background-size: 100%;
			h2 {
				margin-bottom: 50px;
			}
		}
	}

	@media screen and (max-width: 520px) {
		.toShop {
			padding-top: 50px;
			padding-bottom: 50px;
			background-size: 100%;
			h2 {
				font-size: 24px;
			}
		}
	}
// toShop

// popular
	.popular {
		padding-bottom: 30px;
	}
 	.lines_heading{
		font-size: 64px;
		font-weight: 300;
		margin: 30px auto;
		text-transform: uppercase;
		position: relative;
		display: block;
		max-width: 650px;
		text-align: center;	
		&:before,&:after {
			content:'';
			display: block;
			width: 50%;
			max-width:250px;
			height: 2px;
			background:#000;
			position: absolute;
			top:50%;
			transform: translate(0,-50%);
		}
		&:before {
			right: calc(100% + 50px);
		}
		&:after {
			left: calc(100% + 50px);
		}
	}
	.popular_slider {
		.slick-track {
			display: flex !important;
			align-items: center;
		}
	}
	.popular_slider-item {
		padding: 0 40px;
		display: flex !important;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.item_price,
		.item_name {
				opacity: 0;
				transition:0.5s;
				margin-top: 15px;
				transform:translate(0,25px);
		}
		&.slick-current {
			.item_price,
			.item_name {
				opacity: 1;
				transform:translate(0,0px);
			}
		}
	}


	@media screen and (max-width: 1300px) {
		.lines_heading {
			font-size: 36px;
			max-width:350px;
			&:before,&:after {
				max-width: 100px;
			}
			&:before {
				right: calc(100% + 20px);
			}
			&:after {
				left: calc(100% + 20px);
			}
		}
	}
	@media screen and (max-width: 768px) {
		.lines_heading {
			font-size: 30px;
			max-width:250px;
			&:before,&:after {
				max-width: 50px;
			}
			&:before {
				right: calc(100% + 20px);
			}
			&:after {
				left: calc(100% + 20px);
			}
		}
	}
	@media screen and (max-width: 520px) {
		.lines_heading {
			font-size: 26px;
			max-width:145px;
			&:before,&:after {
				max-width: 50px;
			}
			&:before {
				right: calc(100% + 20px);
			}
			&:after {
				left: calc(100% + 20px);
			}
		}
		.popular_slider-item {
			padding: 10px;
		}
	}
// popular

// infoblocks
	.infoblocks {
		display: flex;
		justify-content: center;
		padding: 120px 20px;
		.infoblock_item {
			margin: 0 20px;
			&-name {
				margin: 10px 15px;
				font-size: 28px;
				font-family: 'GillSans', sans-serif;
			}
			&-desc {
				margin: 0px 15px;
				font-size: 14px;
				font-weight: 500;	
			}
			a {
				display: block;
				overflow:hidden;
			}
			img {
				transition:0.5s;
			}
			&:hover {
				img {
					transform: scale(1.2)
				}
			}
		}
	}	

	@media screen and (max-width:1550px) {
		.infoblocks {
			.infoblock_item {
				margin: 10px;
				&-name {
					font-size: 24px;
				}
				&-desc {
					font-size: 12px;
				}
			}
		}
	}

	@media screen and (max-width:1200px) {
		.infoblocks {
			padding: 60px 15px;
			flex-wrap: wrap;
			justify-content: space-around;
			.infoblock_item {
				width: 48%;
				max-width: 370px;
				margin: 10px 0;
			}
		}
	}
	@media screen and (max-width:520px) {
		.infoblocks {
			flex-wrap: wrap;
			justify-content: space-around;
			.infoblock_item {
				width: 100%;
				max-width: 370px;
				margin: 10px 0;
			}
		}
	}
// infoblocks
