// offer
	.offer {
		position: relative;	
		height: 100vh;	
		overflow: hidden;
		.offer-content {
			background: rgba(183,156,132, .35);
			width: 100%;	
			max-width: 1086px;
			height: 100%;	
			display: flex;	
			z-index: 5;
			margin: 0 auto;
			flex-direction: column;
			padding: 50px;
			justify-content: space-around;
			text-transform: uppercase;
			h2 {
				font-family: "SaolDisplay", sans-serif;
				font-size: 65px;
				span {
					text-transform: lowercase;
					color: rgba(183,156,132, 1);
				}
			}
			.advantages_list {
				text-align: center;
				list-style: none;
				color:#fff;
				font-size: 24px;
				li {
					margin-bottom: 25px;
				}
			}
			a {
				text-align: center;
				font-size: 36px;
			}
		}
	}
	.offer_imgs-grid {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 20px;
		z-index: -1;
		position: absolute;	
		width: 2560px;	
		height: 1440px;	
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}

	@media screen and (max-width: 1500px) {
		.offer {
			.offer-content {
				max-width: 812px;
			}
			.advantages_list {
				li {
					margin-bottom: 15px;
				}
			}
		}
		.offer_imgs-grid {
			width: 1920px;
			height: 1080px;
		}
	}

	@media screen and (max-width: 768px) {
		.offer {
			height: 540px; 
			.offer-content {
				padding: 50px 15px;
				max-width: 420px;
				h2 {
					font-size: 32px;
				}
				.advantages_list li {
					font-size: 18px;
				}
				a {
					font-size: 24px;
				}
			}
			
		}
		.offer_imgs-grid {
			width: 1000px;
			height: 560px;
			grid-gap: 10px;
		}
	}
	@media screen and (max-width: 400px) {
		.offer {
			height: 100vh;
			max-height: 550px;
			.offer-content {
				h2 {
					font-size: 28px;
				}
				.advantages_list li {
					font-size: 16px;
				}
				a {
					font-size: 20px;
				}
			}
		}
		.offer_imgs-grid {

			grid-gap: 10px;
		}
	}
// offer

// toShop
	.toShop {
		background-position: top center;
		background-repeat:no-repeat;
		background-size: auto 100%;
		// background-blend-mode: darken;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-top: 250px;
		padding-bottom: 100px;
		h2 {
			font-weight: 300;
			font-size: 48px;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 230px;	
		}
	}

	@media screen and (max-width: 1550px) {
		.toShop {
			padding-top: 180px;
			padding-bottom: 50px;
			h2 {
				margin-bottom: 150px;
			}
		}
	}
	@media screen and (max-width: 768px) {
		.toShop {
			padding-top: 50px;
			padding-bottom: 50px;
			background-size: 100%;
			h2 {
				margin-bottom: 50px;
			}
		}
	}

	@media screen and (max-width: 520px) {
		.toShop {
			padding-top: 50px;
			padding-bottom: 50px;
			background-size: 100%;
			h2 {
				font-size: 24px;
			}
		}
	}
// toShop

// popular
	.popular {
		padding:80px 0;
	}
 	.lines_heading{
		font-size: 64px;
		font-weight: 300;
		margin: 30px auto;
		text-transform: uppercase;
		position: relative;
		display: block;
		max-width: 650px;
		text-align: center;	
		&:before,&:after {
			content:'';
			display: block;
			width: 50%;
			max-width:250px;
			height: 2px;
			background:#000;
			position: absolute;
			top:50%;
			transform: translate(0,-50%);
		}
		&:before {
			right: calc(100% + 50px);
		}
		&:after {
			left: calc(100% + 50px);
		}
	}
	.popular_slider {
		.slick-track {
			display: flex !important;
			align-items: center;
		}
	}
	.popular_slider-item {
		padding: 0 80px;
		display: flex !important;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.item_price,
		.item_name {
				opacity: 0;
				transition:0.5s;
				margin-top: 15px;
				transform:translate(0,25px);
		}
		&.slick-current {
			.item_price,
			.item_name {
				opacity: 1;
				transform:translate(0,0px);
			}
		}
		.item_name {
			font-size: 49px;
			font-weight: 400;
			small {
				font-size: 26px;
				display: block;
			}
		}
		.item_price {
			font-size: 26px;
			font-weight: 500;
		}
	}


	@media screen and (max-width: 1300px) {
		.lines_heading {
			font-size: 36px;
			max-width:350px;
			&:before,&:after {
				max-width: 100px;
			}
			&:before {
				right: calc(100% + 20px);
			}
			&:after {
				left: calc(100% + 20px);
			}
		}
		.popular_slider-item {
			padding: 0 40px;
			.item_name {
				font-size: 36px;
				font-weight: 400;
				small {
					font-size: 20px;
					display: block;
				}
			}
			.item_price {
				font-size: 20px;
				font-weight: 500;
			}
		}
	}
	@media screen and (max-width: 768px) {
		.lines_heading {
			font-size: 30px;
			max-width:250px;
			&:before,&:after {
				max-width: 50px;
			}
			&:before {
				right: calc(100% + 20px);
			}
			&:after {
				left: calc(100% + 20px);
			}
		}
	}
	@media screen and (max-width: 520px) {
		.lines_heading {
			font-size: 26px;
			max-width:145px;
			&:before,&:after {
				max-width: 50px;
			}
			&:before {
				right: calc(100% + 20px);
			}
			&:after {
				left: calc(100% + 20px);
			}
		}
		.popular_slider-item {
			padding: 10px;
		}
	}
// popular

// infoblocks
	.infoblocks {
		display: flex;
		justify-content: center;
		padding: 120px 20px;
		font-family: 'GillSans', sans-serif;
		font-size: 18px;
		.infoblock_item {
			margin: 0 20px;
			width: 25%;
			&-name {
				margin: 10px 15px;
			}
			&-desc {
				margin: 10px 15px;
				font-weight: 500;	
			}
			&-link {
				margin: 0px 15px;
				padding-bottom: 5px;
				color:#545454;
				border-bottom: 1px solid currentColor;
				display: inline-block !important;
				&:hover {
					color:#000;
				}
			}
			a {
				display: block;
				overflow:hidden;
			}
			img {
				transition:0.5s;
			}
			&:hover {
				img {
					transform: scale(1.2)
				}
			}
		}
	}	

	@media screen and (max-width:1550px) {
		.infoblocks {
			.infoblock_item {
				margin: 10px;
				&-name {
					font-size: 24px;
				}
				&-desc {
					font-size: 12px;
				}
			}
		}
	}

	@media screen and (max-width:1200px) {
		.infoblocks {
			padding: 60px 15px;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			.infoblock_item {
				width: 48%;
				max-width: 370px;
				margin: 10px 0;
			}
		}
	}
	@media screen and (max-width:520px) {
		.infoblocks {
			flex-wrap: wrap;
			justify-content: space-around;
			.infoblock_item {
				width: 100%;
				max-width: 370px;
				margin: 10px 0;
			}
		}
	}
// infoblocks

// video_presentation
	.video_presentation-wrap {
		overflow:hidden;
		// height: 400px;
		width: 100%;
		height: 400px;
		position: relative;
		margin:60px 0;
	}
	.video_presentation {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	@media screen and (max-width: 1300px) {
		.video_presentation {
			width: 100%;
		}
	}
	@media screen and (max-width: 768px) {
		.video_presentation {
		}
		.video_presentation-wrap {
			height: 150px;
		}
	}
// video_presentation

// comfort
	.comfort {
		display: flex;
		position: relative;
	}
	.love_yourself {
		width: 45%;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		h2 {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			color:#fff;
			font-size: 70px;
			margin-bottom: 320px;
			letter-spacing: 0.25em;
		}
	}
	.comfort_content {
		position: relative;
		padding-top: 180px;
		padding-bottom: 250px;
		width: 55%;
		text-transform: uppercase;
		font-family: "GillSans", sans-serif;
		text-align: center;
		h2 {
			font-family: "SaolDisplay", sans-serif;
			font-size: 75px;
			text-transform: uppercase;
			font-weight: 400;
			margin-bottom: 60px;
			span {
				text-transform: lowercase;
			}
		}
		h3 {
			font-size: 36px;
			font-weight: 300;
		}
		ul {
			list-style:none;
			max-width: 550px;
			margin: 80px auto;
			font-size: 20px;
			font-weight: 300;
			li {
				margin-bottom: 30px;
			}
		}
	}
	.circle_text {
		display: block;
		position: absolute;
		left: 45%;
		bottom: 180px;
		width: 260px;
		height: 260px;
		border-radius: 50%;
		z-index: 5;
		transform: translate(0%,0);
		text-transform: uppercase;
		span {
			bottom: 50%;
			transform-origin: 0% 100%;
			padding-bottom: 50%;
			font-size: 22px;
			font-weight: 400;
			position: absolute;
			
			&:nth-of-type(1) {transform: rotate(190deg);}
			&:nth-of-type(2) {transform: rotate(199deg);}
			&:nth-of-type(3) {transform: rotate(208deg);}
			&:nth-of-type(4) {transform: rotate(217deg);}
			&:nth-of-type(5) {transform: rotate(226deg);}
			&:nth-of-type(6) {transform: rotate(235deg);}
			&:nth-of-type(7) {transform: rotate(244deg);}
			&:nth-of-type(8) {transform: rotate(253deg);}
			&:nth-of-type(9) {transform: rotate(262deg);}
			&:nth-of-type(10) {transform: rotate(271deg);}
			&:nth-of-type(11) {transform: rotate(280deg);}
			&:nth-of-type(12) {transform: rotate(289deg);}
			&:nth-of-type(13) {transform: rotate(298deg);}
			&:nth-of-type(14) {transform: rotate(307deg);}
			&:nth-of-type(15) {transform: rotate(316deg);}
			&:nth-of-type(16) {transform: rotate(325deg);}
			&:nth-of-type(17) {transform: rotate(334deg);}
			&:nth-of-type(18) {transform: rotate(343deg);}

			&:nth-of-type(19) {transform: rotate(10deg);}
			&:nth-of-type(20) {transform: rotate(19deg);}
			&:nth-of-type(21) {transform: rotate(28deg);}
			&:nth-of-type(22) {transform: rotate(37deg);}
			&:nth-of-type(23) {transform: rotate(46deg);}
			&:nth-of-type(24) {transform: rotate(55deg);}
			&:nth-of-type(25) {transform: rotate(64deg);}
			&:nth-of-type(26) {transform: rotate(73deg);}
			&:nth-of-type(27) {transform: rotate(82deg);}
			&:nth-of-type(28) {transform: rotate(91deg);}
			&:nth-of-type(29) {transform: rotate(100deg);}
			&:nth-of-type(30) {transform: rotate(109deg);}
			&:nth-of-type(31) {transform: rotate(118deg);}
			&:nth-of-type(32) {transform: rotate(127deg);}
			&:nth-of-type(33) {transform: rotate(136deg);}
			&:nth-of-type(34) {transform: rotate(145deg);}
			&:nth-of-type(35) {transform: rotate(154deg);}
			&:nth-of-type(36) {transform: rotate(163deg);}
			
		}
	}
	
	@media screen and (max-width: 1400px) {
		.circle_text {
			width: 220px;
			height: 220px;
		}
	}

	@media screen and (max-width: 1250px) {
		.comfort_content {
			padding-top: 50px;	
			padding-bottom: 100px;	
			h2 {
				font-size: 48px;
				margin-bottom: 30px;
			}
			h3 {
				font-size: 26px;
			}
			ul {
				font-size: 16px;
				margin: 40px auto;
				max-width: 350px;
			}
		}
		.circle_text {
			width: 175px;
			height: 175px;
			bottom: 25px;
			left: 25%;
		}
		.love_yourself {
			background-position: 50% 70px, 0 0;
			h2 {
				margin-bottom: 0px;
				font-size: 50px;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.love_yourself,
		.circle_text {
			display: none;
		}
		.comfort_content {
			width: 100%;
			background:linear-gradient(-40deg, rgb(234,227,220), rgb(234,227,220) 40%, rgba(234,227,220,.5) 40%);
		}
	}

	@media screen and (max-width: 520px) {
		.comfort_content {
			padding-top: 50px;	
			padding-bottom: 50px;	
			h2 {
				font-size: 36px;
				margin-bottom: 30px;
			}
			h3 {
				font-size: 22px;
			}
			ul {
				font-size: 14px;
				margin: 40px auto;
				max-width: 350px;
			}
		}
	}
// comfort